h1,h2,h3,h4,h5,h6,p,li,img {
    text-align: center;
}
h1 {
    color: rgb(236, 72, 72);
    font-size: 35px;
}
h2 {
    color: rgb(179, 26, 179);
    font-size: 25px;
}
h3 {
    color: pink;
    font-size: 15px;
}
h4 {
    color: rgb(199, 218, 31);
    font-size: 20px;
}
a {
    color: rgb(255, 192, 234); /* Tüm bağlantılar için rengi belirler */
  }
ul,ol {
    font-weight: bold;
    list-style-position: inside;
}
  